@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Testing stuff</h2>
<div x-data="{ message: 'Hello, Alpine.js!' }">
    <button x-on:click="message = 'Alpine.js is awesome!'">Click me</button>
    <p x-text="message"></p>
</div>
