<html>
    <head>
        <title>@ViewData["Title"] - Ticketing System</title>
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
     <script src="//unpkg.com/alpinejs" defer></script>
    </body>
</html>